*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    color: #fff;
    background-color: rgb(3, 17, 66);
    font-family: Arial, sans-serif;
}

.logo{
    font-size: 20px;
}

.search{
    width: 500px;
    padding: 8px;
    border-radius: 7px;
    border: none;
}

 nav a{
    color: #ccc;
    text-decoration: none;
    margin-left: 15px;
}

nav a:hover{
    color: #fff;
}


/* Product */
.container-product{
    display: flex;
    gap: 40px;
    padding: 40px;
    height: calc(100vh - 80px);
    margin-bottom: 110px;
    font-family: Arial, sans-serif;
}

/* images */
.image-section{
    flex: 1.4;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.main-image{
    max-height: calc(100vh - 140px);
    width: auto;
    max-width: 100%;
    border-radius: 12px;
    object-fit: contain;
    box-shadow: 8px 8px 10px rgba(128, 128, 128, 0.506) ;
}

.thumbnails{
    display: flex;
    gap: 10px;
    margin-left: 4px;
    margin-top: 15px;
}

.thumbnails img{
    height: 70px;
    width:60px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
}

/* Details */
.details-section{
    width: 60%;
    background: #f9fafb;
    padding: 40px;
    border-radius: 12px;
}

h2{
    font-size: 30px;
}

.brand{
    opacity: .7;
    margin:15px 0;
}

.price{
    margin: 15px 0;
}

.current{
    font-size: 25px;
    font-weight: bold;
}

.old{
    text-decoration: line-through;
    margin-left: 10px;
    color: grey;
}

.discount{
    opacity: .9;
    margin-left: 10px;
}

.description{
    margin: 15px 0;
}

.rating{
    margin-bottom: 15px;
}

.quantity{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.quantity button{
    width: 35px;
    height: 35px;
}

.add-btn{
    width: 100%;
    padding: 12px;
    background-color: rgb(3, 17, 66);
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    text-decoration: none;
}

/* offer */
.offer{
    background: #fff;
    padding: 15px;
    margin-top: 25px;
    border-radius: 8px;
    text-align: center;
}

.signup{
    margin-top: 10px;
    padding: 8px 15px;
}

/* Footer */
.endbar{
    padding: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around; 
    text-align: center;
    background: rgb(3, 17, 66);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: medium;
}

.bottom-title{
   color: #fff;
   margin-bottom: 12px;
}

.bottom-link{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ccc;
    margin-bottom: 7px;
}

.bottom-link:hover{
    color: #fff;
}

.bottom-icons a{
    color: #ccc;
    display: block;
    margin-bottom: 8px;
}

.bottom-icons a:hover{
    color: #fff;
}

@media(max-width: 768px){
    .navbar{
        flex-direction: column;
        gap: 12px;
        padding: 15px;
        text-align: center;
    }

    .search{
        width: 100%;
    }

    nav{
        display: flex;
        /* justify-content: center; */
        flex-wrap: wrap;
        gap: 15px;
    }

    nav a{
        margin: 0;
    }

    /* Product layover */
    .container-product{
        flex-direction: column;
        height: auto;
        gap: 12px;
        padding: 15px;
        text-align: center;
        margin-bottom: 40px;
    }

    .image-section{
        flex: none;
        text-align: center;
    }

    .main-image{
        max-height: 60vh;
        width: 70%;
    }

    .thumbnails{
        justify-content: center;
        flex-wrap: wrap;
    }

    /* Details */
    .details-section{
        width: 100%;
        padding: 20px;
    }

    h2{
        font-size: 24px;
    }

    .current{
        font-size: 22px;

    }

    .quantity{
        justify-content: center;
    }

    /* Endbar */
    .endbar{
        flex-direction: column;
        gap: 25px;
        padding: 25px 30px;
    }

    .bottom-icons a{
        display: inline-block;
        margin: 4px;
    }
}