* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #e58106;
}

.container {
    width: 400px;
    padding: 25px 35px;
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.716);
}

.qr_Heading {
    text-align: center;
    margin: 0 0 30px;
}

.qr_text {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
}

.container input {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 15px;
    margin: 10px 0 20px;
    outline: 0;
    border-radius: 1px solid #170101;
}

.container button {
    height: 40px;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    background-color: #2f50c8;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    border-radius: 2px;
}

#imgBox {
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 3s;
}

#imgBox img {
    width: 100%;
    padding: 10px;

}

#imgBox.show_Img {
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

.error {
    animation: shake 0.1s linear 10;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-2px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0px);
    }
}